<!DOCTYPE html>
<html ng-app="ngApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Animation basics</title>
    <link rel="stylesheet" href="../libs/foundation.min.css">
    <script src="../libs/angular.js"></script>
    <script src="../libs/angular-animate.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body ng-controller="TestCtrl">

    <div class="button" ng-click="toggleContainer()">Toggle!!</div>

    <div class="toggleApp" ng-if="toggle">Toggle content</div>

</body>
</html>